.header {
    height: 100px;
    box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.062);
    padding: 0 40px 0 40px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: white;
}
.header__logo {
    width: 10rem;
}
.header__nav {
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.header__link {
    text-decoration: none;
    color: black;
    font-family: inter;
    cursor: pointer;
    transition: all 0.2s;
}
.header__link:hover {
    color: rgb(87, 87, 87);
}
.header__button {
    border: none;
    color: #000000;
    background: #fce000;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    font-family: inter;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

.header__button:hover {
    background: #000000;
    color: white
}

.header__link_white {
    color: white
}

.header__button_white {
    color: black;
    background: white;
    transition: all 0.2s;
}

.header__button_white:hover {
    color: black;
    background:#fce000;
}